@font-face {
    font-family: "montserrat";
    font-weight: 400 500;
    src: url('https://fonts.google.com/specimen/Montserrat');
}

@font-face {
    font-family: "fraunces";
    font-weight: 700;
    src: url('https://fonts.google.com/specimen/Fraunces');
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    width: 100%;
    vertical-align: baseline;
    background: hsl(30, 38%, 92%);
    overflow-y: hidden;

}

main {
    margin: 1em auto;
    border-radius: 10px;
    max-width: 375px;
    background: white;
    font-family: montserrat;
}

.product-info {
    line-height: 1.5;
    margin: 1em 0;
    padding: 1em 0;
}

.perfume {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    max-width: inherit;
    border: 0;
}

.perfume-desktop {
    display: none;
}

.perfume-header {
    font-size: .75rem;
    font-family: montserrat;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
    margin: 1em 1em 1em 0em;
    padding: 0;
}


h1 {
    font-family: fraunces;
    line-height: 1;
    font-size: 2rem;
    
}

.info {
    padding: 0 1em;
}

.prices {
    font-family: fraunces;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1em;
}

.prices > p {
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    margin-right: 1em;
}

.prices p + p {
    font-size: 1rem;
    text-decoration: line-through;
    color: hsla(228, 12%, 48%, 0.527);
}

.button-container {
    padding-bottom: 2em;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(158, 36%, 37%);
    color: white;
    font-weight: bold;
    font-family: montserrat;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1em;
}

.button:hover {
    background: hsl(158, 35%, 28%);
    cursor: pointer;
}

.button > p {
    margin-left: .2em;
}


/* Desktop */
@media only screen and (min-width: 1400px) {

    .perfume {
        display: none;
    }
    body {
        overflow-y: auto;
    }
    /* * {
        border: solid red 1px;
    } */
    
    main {
        background: white;
        display: flex;
    }

    h1 {
        align-self: flex-start;
        width: 7em;
    }

    .info {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .perfume-desktop {
        height: 100%;
        max-width: 100%;
        display: flex;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .perfume-header {
        align-self: flex-start;
    }

    .button-container {
        flex-basis: 0;
        display: block;
    }

    .button {
        padding: 1em 5em;
    }
}

/* I think it looks OK now */

